<div class="container">
    <div class="flex w-full items-center justify-between">
        <h1>{{'comment.Comment-box'| translate}}</h1>
        <span class="material-symbols-outlined cursor-pointer" (click)="close()">
            close
        </span>
    </div>
    <div class="comments-area">
        @if (comments && comments.length > 0) {
            @for (comment of comments; track $index) {
                <div class="comment">
                    <div>
                        <h1 class="headline">{{comment.createdBy}}</h1>
                        <h1 class="caption-1">{{getFormattedCreatedAt(comment.createdAt)}}</h1>
                    </div>
                    <p class="body">{{comment.content}}</p>
                </div>
            }
        }
    </div>
    <div class="w-full border border-deep-charcoal rounded-[8px] flex items-center justify-between px-[10px] py-[5px] space-x-[5px] bg-white">
        <input type="text" placeholder="Write a comment..." class="w-full"/>
        <span class="material-symbols-outlined text-sky-blue cursor-pointer">send</span>
    </div>
</div>