@media (min-width: 1024px) {
  .lists-container{
    display: grid;
    grid-template-columns: auto auto;
  }

  .container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items:start;
    gap: 30px;
    min-width: calc(100dvw - 25px);
  }

  .borrow-sections-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    width: 100%;
    gap: 30px;
    min-height: 0;
  }

  .borrows-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 0;
  }

  .borrows-scrolling-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    gap: 10px;
    overflow-y: auto;
  }

  .borrows-count {
    grid-column: 1 / 5;
  }
}

@media (max-width: 1023px) {
    .container{
        display: grid;
        grid-template-columns: auto ;
        gap: 30px;
        padding: 20px;
    }

    .borrowing-container{
        grid-column: 1;
        grid-row: 2;
    }

    .borrows-history-container{
        grid-column: 1;
        grid-row: 3;
    }

    .borrows-scrolling-area {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .side-menu{
        grid-column: 1;
        grid-row: 1;
    }
}