<div class="container">
    @if (isLoading["createBook"]) {
        <div class="absolute inset-0 flex justify-center items-center bg-cool-gray/50 z-50 rounded-[10px]">
            <app-loading-component></app-loading-component>
        </div>
    }
    <div class="flex justify-between items-center">
        <p class="headline font-bold">{{'newBookForm.Create-new-book'|translate}}</p>
        <span (click)="close()" class="material-symbols-outlined cursor-pointer">close</span>
    </div>
    <form class="new-book-container" [formGroup]="newBookForm" id="newBookForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col space-y-[10px] items-start">
            @if (preview) {
                <div class="flex flex-col space-y-[5px]">
                    <img [src]="preview" class="book-cover"/>
                    <div class="flex space-x-[5px] items-center">
                        <span class="material-symbols-outlined text-tomato-red cursor-pointer select-none" (click)="handleClearBookCover()">delete</span>
                        <div>{{selectedFile?.name}}</div>
                    </div>
                    <div>{{selectedFile && (selectedFile.size / 1024).toFixed(2) + ' KB'}}</div>
                </div>
            }
            @else {
                <div class="flex space-x-[5px] items-center px-[10px] py-[5px] bg-primary-1 rounded-[10px] text-soft-ice cursor-pointer w-fit" (click)="fileInput.click()">
                    <span class="material-symbols-outlined">add_photo_alternate</span>
                    <div>{{'newBookForm.Upload-book-cover'|translate}}</div>
                    <input type="file" accept="image/webp" (change)="onFileSelected($event)" #fileInput hidden/>
                </div>
                <small>{{'newBookForm./.WebP-file-only'|translate}}</small>
                <small>{{'newBookForm.Maximum-size-of-file'|translate}}: {{MAXIMUM_FILE}}KB</small>
            }
        </div>
        <div class="flex flex-col space-y-[5px]">
            <div class="body font-bold">{{'newBookForm.Book-information'|translate}}</div>
            <div class="flex flex-col space-y-[5px]">
                <label for="title">{{'book.Title'|translate}}</label>
                <input id="title" formControlName="title" type="text" class="rounded-[10px]" [class]=" isValid['title'] ? 'bg-pastel-blue text-dodger-blue':'bg-pastel-red text-tomato-red'" placeholder="{{'book.Title'|translate}}"/>
            </div>
            @if (!isValid['title']) {
                <small class="text-tomato-red">{{"newBookForm.Please-enter-title" |translate}}</small>
            }

            <div class="flex flex-col space-y-[5px]">
                <label for="author">{{'book.Author'|translate}}</label>
                <input id="author" formControlName="author" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]" [class]=" isValid['author'] ? 'bg-pastel-blue text-dodger-blue':'bg-pastel-red text-tomato-red'" placeholder="{{'book.Author'|translate}}"/>
            </div>
            @if (!isValid['author']) {
                <small class="text-tomato-red">{{"newBookForm.Please-enter-author" |translate}}</small>
            }

            <div class="flex flex-col space-y-[5px]">
                <label for="copies">{{'book.Copies'|translate}}</label>
                <input id="copies" formControlName="copies" type="number" class="bg-pastel-blue text-dodger-blue rounded-[10px]" [class]=" isValid['copies'] ? 'bg-pastel-blue text-dodger-blue':'bg-pastel-red text-tomato-red'" placeholder="{{'book.Copies'|translate}}"/>
            </div>
            @if (!isValid['copies']) {
                <small class="text-tomato-red">{{"newBookForm.Please-enter-number-of-copies" |translate}}</small>
            }


            <div class="">{{'book.Genres'|translate}}</div>
            @if (chosenGenres) {
                <div class="chosen-genres-list">
                    @for (genre of chosenGenres; track $index) {
                        <div (click)="toggleChosenGenre(genre)" class="px-[10px] py-[5px] rounded-[10px] bg-primary-1 text-soft-ice cursor-pointer select-none">{{genre.name}}</div>                
                    }
                </div>
            }
        </div>
        <div class="flex flex-col space-y-[10px]">
            <div class="flex flex-col space-y-[5px]">
                <div class="body font-bold">{{'newBookForm.Available-genres'|translate}}</div>
                <div class="flex space-x-[10px] items-center">
                    <input class="bg-pastel-blue text-dodger-blue rounded-[10px] w-full" placeholder="{{'genre.Name'|translate}}" [(ngModel)]="query" [ngModelOptions]="{standalone: true}"/>
                    <button type="button" class="flex items-center select-none" (click)="handleSearchGenres()"><span class="material-symbols-outlined">search</span></button>
                    <button type="button" class="bg-cool-gray text-soft-ice px-[10px] py-[5px] rounded-[10px] text-nowrap" (click)="handleClearSearch()">{{"search.Clear"|translate}}</button>
                </div>
                @if (isLoading["loadSearch"]|| isLoading["loadGenres"]) {
                    <div class="flex justify-center"><app-loading-component></app-loading-component></div>
                }
                @else {
                    @if (isSearch) {
                        <div>{{"search.Result"|translate}}</div>
                        @if (resultGenres.length > 0) {
                            <div class="genres-list">
                                @for (genre of resultGenres; track $index) {
                                    <div class="flex items-center space-x-[5px] w-full">
                                        <div (click)="toggleChosenGenre(genre)" class="w-full px-[10px] py-[5px] rounded-[10px] select-none cursor-pointer" [class]="chosenGenres.includes(genre) ? 'bg-primary-1 text-soft-ice' : 'border border-primary-1 text-primary-1 hover:bg-primary-1 hover:text-soft-ice transition ease-in-out'">{{genre.name}}</div>
                                    </div>                
                                }
                                <app-pages-component [pages]="resultGenresPage"></app-pages-component>
                            </div>
                            
                        }
                        @else {
                            <div>{{'list.Empty'|translate}}</div>
                        }
                    }
                    @else {
                        @if (genres.length > 0) {
                            <div class="genres-list">
                                @for (genre of genres; track $index) {
                                    <div class="flex items-center space-x-[5px] w-full">
                                        <div (click)="toggleChosenGenre(genre)" class="w-full px-[10px] py-[5px] rounded-[10px] select-none cursor-pointer" [class]="chosenGenres.includes(genre) ? 'bg-primary-1 text-soft-ice' : 'border border-primary-1 text-primary-1 hover:bg-primary-1 hover:text-soft-ice transition ease-in-out'">{{genre.name}}</div>
                                    </div>                
                                }
                                <app-pages-component [pages]="genresPage"></app-pages-component>
                            </div>
                            
                        }
                        @else {
                            <div>{{'list.Empty'|translate}}</div>
                        }
                    }
                }
            </div>
        </div>
    </form>

    <div class="flex space-x-[10px]">
        @if (isLoading["createBook"]) {
            <button type="button"class="bg-steel-blue/50 !cursor-not-allowed px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]">{{'form.Processing'|translate}}...</button>
        }
        @else {
            <button type="submit" form="newBookForm" class="bg-steel-blue px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]">{{'form.Save'|translate}}</button>
        }
        <button class="border border-tomato-red px-[10px] py-[5px] text-tomato-red caption-1 rounded-[10px]" (click)="close()">{{'form.Cancel'|translate}}</button>
    </div>

    
</div>
