@if (accessible) {
    <a href='/books/{{book.id}}'>
        <div class="container">
            <img src="http://127.0.0.1:8080/book-covers/{{bookCover}}.jpg" class="book-cover" (error)="onImageError($event)"/>
            <h1 class="subheadline font-bold book-info">{{book.title}}</h1>
            <h1 class="caption-1 font-bold book-info">{{'book.Author'|translate}}: {{book.author}}</h1>
            <h1 class="caption-1 book-info">{{'book.Genres'|translate}}: {{book.genres}}</h1>
            <h1 class="caption-2">{{'book.Available-copies'|translate}}: {{book.copies}}</h1>
        </div>
    </a>
}
@else {
    <div class="container">
        <img src="http://127.0.0.1:8080/book-covers/{{bookCover}}.jpg" class="book-cover" (error)="onImageError($event)"/>
        <h1 class="subheadline font-bold book-info">{{book.title}}</h1>
        <h1 class="caption-1 font-bold book-info">{{'book.Author'|translate}}: {{book.author}}</h1>
        <h1 class="caption-1 book-info">{{'book.Genres'|translate}}: {{book.genres}}</h1>
        <h1 class="caption-2">{{'book.Available-copies'|translate}}: {{book.copies}}</h1>
    </div>
}