<app-navbar></app-navbar>
@for (announcement of announcements; track announcement.id) {
    @if (announcement.isOpen) {
        <app-announcement-component
            (onClose)="handleCloseAnnouncement(announcement.id)"
            [type]="announcement.type"
            [subject]="announcement.subjectKey |translate"
            [content]="announcement.contentKey |translate"
            [link]="announcement.link ?? ''">
        </app-announcement-component>
    }
}

<div class="home-container">
    <div class="chart-1">
        <h1 class="text-deep-charcoal header headline">{{'home.Number-of-books-by-genre' |translate}}</h1>
        @if (isLoading) {
            <app-loading-component></app-loading-component>
        }
        @else if (booksCountByGenreValues.length > 0 && booksCountByGenreLabels.length >0) {
            <app-chart-component
            [labels]="booksCountByGenreLabels"
            [data]="booksCountByGenreValues"
            label="Books"
            type="bar"/>
        }
        @else {
            <div>{{"list.No-data"|translate}}</div>
        } 
    </div>

    <div class="chart-2">
        <h1 class="text-deep-charcoal header headline">{{'home.Number-of-borrowed-books-by-genre' |translate}}</h1>
        @if (isLoading) {
            <app-loading-component></app-loading-component>
        }
        @else if (borrowsCountByGenreValues.length > 0 && borrowsCountByGenreLabels.length >0) {
            <app-chart-component
            [labels]="borrowsCountByGenreLabels"
            [data]="borrowsCountByGenreValues"
            label="Books"
            type="bar"/>
        }
        @else {
            <div>{{"list.No-data"|translate}}</div>
        } 
    </div>

    <div class="posts-area">
        <h1 class="text-deep-charcoal header headline">{{'home.Top-5-posts-have-most-likes' |translate}}</h1>
        @if (isLoading) {
            <app-loading-component></app-loading-component>
        }
        @else if (posts.length > 0) {
        <div class="posts-scrolling-area">
            @for (post of posts; track $index) {
                    <app-mini-post-card-component [post]="post" (onLikeToggled)="onPostLikeToggled($event)"></app-mini-post-card-component>
                }
        </div>
        } @else {
            <div>{{"list.Empty"|translate}}</div>
        }
    </div>

    <div class="borrowed-books-area">
        <h1 class="headline">{{'home.Books-that-you-borrowed'|translate}}</h1>
        <div class="borrows-scrolling-area">
            @if (isLoading) {
                <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
            }
            @else if (borrows.length > 0) {
                @for (borrow of borrows; track borrow.id) {
                    <app-borrow-card-component [borrow]="borrow"></app-borrow-card-component>
                }
                <app-pages-component [pages]="borrowsPage" (onApply)="fetchBorrowsByUserId($event)"></app-pages-component>
            } 
            @else {
                <div>{{"list.Empty"|translate}}</div>
            }
        </div>
    </div>
</div>