# ---------- MySQL ----------
DB_ROOT_PASSWORD=root
DB_NAME=library_management
DB_USER=library_app
DB_PASSWORD=root
DB_HOST=db

# ---------- Spring Boot / JWT ----------
JWT_SECRET=changeme_use_a_long_random_string_at_least_32_chars
JWT_EXPIRATION=86400000

# ---------- Email (JavaMailSender) ----------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=use_your_email
MAIL_PASSWORD=user_your_email_app_password_dont_use_your_actual_password 

# ---------- Redis ----------
REDIS_HOST=redis
REDIS_PORT=6379

# ---------- CORS / Frontend ----------
FRONTEND_URL=http://localhost
BACKEND_URL=http://localhost/api


TURNSTILE_SECRET_KEY=0x4AAAAAAESQxOxxnPHRSfEinL_63kEQ0Nw
