<app-navbar></app-navbar>
<div class="fixed inset-0 flex items-center justify-center">
    @if (user) {
        <div class="container">
            <div class="flex justify-between items-center">
                <p class="headline font-bold">{{'settings.Settings'|translate}}</p>
            </div>
            <div class="info-container">
                <form [formGroup]="newUserForm" id="newUserForm" (ngSubmit)="onSubmit()">
                    <div class="flex flex-col">
                        <label for="username">{{'user.Username' |translate}}</label>
                        <div class="flex space-x-[5px] items-center">
                            <input id="username" formControlName="username" placeholder="{{'user.Username' | translate}}" type="text" class="rounded-[10px] w-full" [class]="isUsernameVerified == false ? 'bg-pastel-red text-tomato-red' : 'bg-pastel-blue text-dodger-blue '"/>
                            @if (newUserForm.get('username')?.value?.trim() !== user.username.trim()) {
                                @if(isUsernameAvailable == null){
                                    <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="checkUsername()">
                                        {{'form.Check-username'|translate}}
                                    </button>
                                }
                                @else if (isUsernameAvailable == true) {
                                    <span class="material-symbols-outlined text-leaf-green">check_circle</span>
                                }
                                @else if(isUsernameAvailable == false){
                                    <span class="material-symbols-outlined text-tomato-red">cancel</span>
                                }
                            }
                            <button type="button" class="bg-tomato-red text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleResetUsername()">
                                {{'form.Reset'|translate}}
                            </button>
                        </div>
                        @if (!isUsernameVerified && newUserForm.get('username')?.value?.trim()?.toLowerCase() !== user.username.trim().toLowerCase()) {
                            <small>{{"verification.Please-verify-your-username"|translate}}</small>
                        }
                    </div>

                    <div class="flex flex-col">
                        <label for="fullName">{{'user.Full-name' |translate}}</label>
                        <input id="fullName" formControlName="fullName" placeholder="{{'user.Full-name' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
                    </div>

                    <div class="flex flex-col">
                        <label for="email">{{'user.Email' |translate}}</label>
                        <div class="flex space-x-[5px] items-center">
                            <input id="email" formControlName="email" placeholder="{{'user.Email' | translate}}" type="text" class="rounded-[10px] w-full"  [class]="isEmailVerified == false || newUserForm.get('email')?.errors?.['email'] || isEmailUsed ? 'bg-pastel-red text-tomato-red' : 'bg-pastel-blue text-dodger-blue'"/>
                            @if (newUserForm.get('email')?.value?.trim() !== user.email.trim() && !isEmailVerified){
                                @if (!isSendingVerificationEmail) {
                                    <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleSendVerificationCode()">
                                        {{'email.Verify'|translate}}
                                    </button>
                                }
                                @else {
                                    <div type="button" class="bg-steel-blue/70 text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px] cursor-not-allowed">
                                        {{'email.Sending'|translate}}...
                                    </div>
                                }
                            }
                            @else if(isEmailVerified){
                                <span class="material-symbols-outlined text-leaf-green">check_circle</span>
                            }
                            <button type="button" class="bg-tomato-red text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleResetEmail()">
                                {{'form.Reset'|translate}}
                            </button>
                        </div>
                        @if (newUserForm.get('email')?.touched && newUserForm.get('email')?.invalid) {
                            @if (newUserForm.get('email')?.errors?.['required']) {
                                <small>{{'verification.Email-is-required'|translate}}</small>
                            }

                            @if (newUserForm.get('email')?.errors?.['email']) {
                                <small>{{'verification.Please-enter-a-valid-email'|translate}}</small>
                            }
                        }
                        @else {
                            @if(isEmailUsed){
                                <small>{{"verification.This-email-has-been-used"|translate}}</small>
                            }
                            @else if (!isEmailVerified && newUserForm.get('email')?.value?.trim()?.toLowerCase() !== user.email.trim().toLowerCase()) {
                                <small>{{"verification.Please-verify-your-email"|translate}}</small>
                            }
                        }
                    </div>


                    @if (isVerifyingEmail && !isEmailUsed){
                        <div class="flex flex-col">
                            <label for="verification">{{'email.Verification-code' |translate}}</label>
                            <div class="flex space-x-[5px] items-center">
                                <input id="verification" formControlName="verificationCode" placeholder="{{'email.Verification-code' | translate}}" type="text"
                                [class]="isEmailVerified ? 'bg-pastel-blue/50 text-dodger-blue/50 rounded-[10px] w-full cursor-not-allowed' : 'bg-pastel-blue text-dodger-blue rounded-[10px] w-full'"/>
                                
                                @if (!isEmailVerified) {
                                    <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleVerify()">
                                        {{'form.Send'|translate}}
                                    </button>
                                }
                            </div>
                        </div>
                    }

                    <div class="flex flex-col">
                        <label for="phoneNumber">{{'user.Phone-number' |translate}}</label>
                        <input id="phoneNumber" formControlName="phoneNumber" placeholder="{{'user.Phone-number' | translate}}" type="text" class="rounded-[10px]" [class]="newUserForm.get('phoneNumber')?.errors?.['pattern'] ? 'bg-pastel-red text-tomato-red' : 'bg-pastel-blue text-dodger-blue'"/>
                        @if (newUserForm.get('phoneNumber')?.touched && newUserForm.get('phoneNumber')?.invalid) {
                            @if (newUserForm.get('phoneNumber')?.errors?.['required']) {
                                <small>{{'verification.Phone-number-is-required'|translate}}</small>
                            }

                            @if (newUserForm.get('phoneNumber')?.errors?.['pattern']) {
                                <small>{{'verification.Please-enter-a-valid-phone-number'|translate}}</small>
                            }
                        }
                    </div>

                    <div class="flex flex-col">
                        <label for="address">{{'user.Address' |translate}}</label>
                        <input id="address" formControlName="address" placeholder="{{'user.Address' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
                    </div>

                    <div class="my-[30px]">
                        <button type="button" class="border border-primary-1 text-primary-1 hover:bg-steel-blue px-[10px] py-[5px] hover:text-soft-ice body rounded-[10px] transition ease-in-out" (click)="handleChangePassword()">{{'settings.Change-password'|translate}}</button>
                    </div>

                </form>
                
            </div>

            <div class="flex space-x-[10px]">
                <button type="submit" form="newUserForm" class="bg-steel-blue px-[10px] py-[5px] text-soft-ice body rounded-[10px]">{{'form.Save'|translate}}</button>
                <button type="button" class="bg-tomato-red px-[10px] py-[5px] text-soft-ice body rounded-[10px]" (click)="handleDeleteUser()">{{'usersManagement.Delete-user'|translate}}</button>
            </div>
        </div>
    }
</div>