/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";


code{
  font-family: 'JetBrains Mono', monospace;
}

.icon {
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.2s ease-in-out;
}

.icon.active {
    font-variation-settings: 'FILL' 1;
    transition: font-variation-settings 0.2s ease-in-out;
}

.icon:hover {
    font-variation-settings: 'FILL' 1;
}

@theme {
    --font-quicksand: 'Quicksand', sans-serif;

    --color-steel-blue: #2C5EAD;
    --color-dodger-blue: #1591DC;
    --color-sky-blue: #4BB8FA;
    --color-pastel-blue: #C4E2F5;
    --color-deep-charcoal: #25343F;
    --color-cool-gray: #BFC9D1;
    --color-soft-ice: #EAEFEF;
    --color-leaf-green: #6FAF4F;
    --color-tomato-red: #E50046;
    --color-bright-gold: #F9D923;
    --color-pastel-yellow: #FEF3C7;
    --color-dark-amber: #92400E;
    --color-pastel-red: rgba(229, 0, 70, 0.3);

    --color-primary-1: #2C5EAD;
    --color-primary-2: #1591DC;
    --color-primary-3: #C4E2F5;
}

@layer base {
  html, body {
    font-family: var(--font-quicksand);
    color: var(--color-deep-charcoal);
  }
}

@utility text-responsive-title {
    @apply text-lg md:text-2xl lg:text-4xl;
}

@utility text-responsive-body {
    @apply text-sm md:text-base lg:text-lg;
}

@media (min-width: 1024px) {
.body-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 10px;
    left: 0; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100dvh - 100px);
        
}
.large-title{
    font-size: 26pt;
}
.title-1{
    font-size: 22pt;
}
.title-2{
    font-size: 17pt;
}
.title-3{
    font-size: 15pt;
}
.headline{
    font-size: 13pt;
    font-weight: bold;
}
.body{
    font-size: 13pt;
}
.callout{
    font-size: 12pt;
}
.subheadline{
    font-size: 11pt;
}
.footnote{
    font-size: 10pt;
}
.caption-1{
    font-size: 10pt;
}
.caption-2{
    font-size: 10pt;
    font-weight: 500;
}
}


@media (max-width: 1023px) {
.body-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    padding: 10px; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100dvh - 100px);
}
.large-title{
    font-size: 34pt;
}
.title-1{
    font-size: 28pt;
}
.title-2{
    font-size: 22pt;
}
.title-3{
    font-size: 20pt;
}
.headline{
    font-size: 17pt;
    font-weight: bold;
}
.body{
    font-size: 17pt;
}
.callout{
    font-size: 16pt;
}
.subheadline{
    font-size: 15pt;
}
.footnote{
    font-size: 13pt;
}
.caption-1{
    font-size: 12pt;
}
.caption-2{
    font-size: 11pt;
}
}

input, select
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

:host {
    display: block;
    width: 100%;
}

button{
    cursor: pointer;
}