.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 10px;
    gap: 10px;
    height: 80vh;
}

.borrows-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    min-height: 0;
}