@media (min-width: 1024px) {
    .container{
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items:start;
        gap:30px
    }

    .posts-scrolling-area{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        gap: 30px;
    }
}

@media (max-width: 1023px) {
    .container{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:start;
        gap:30px
    }

    .posts-scrolling-area{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        gap: 30px;
    }
}