<app-navbar></app-navbar>
@if (announcements) {
    @for (announcement of announcements; track announcement.id) {
        @if (announcement.active) {
            <app-announcement-component
                [location]="'/my-posts'"
                (onClose)="handleCloseAnnouncement(announcement.id)"
                [announcement]="announcement">
            </app-announcement-component>
        }
    }
}
<div class="container">
    <div class="side-menu">
        <div class="flex flex-col space-y-[10px]">
            <app-sort-side-bar-component
            [isSearch]="isSearch"
            (onApply)="handleApply($event)">
            </app-sort-side-bar-component>
            <button class="create-post-button caption-1 font-bold" (click)="handleNavigateCreatePost()">{{'postsManagement.Create-post'|translate}}</button>
        </div>  
    </div>

    <div class="posts-area">
        @if (!isSearch) {
            @if (isLoading["posts"]) {
                <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
            }
            @else if (posts.length > 0 && !isLoading["posts"]) {
                @for (post of posts; track $index) {
                    <app-post-card-component 
                    [post]="post"
                    (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
                }
                @if (!postPages.last) {
                <button class="bg-primary-1 p-[10px] text-soft-ice caption-1 rounded-[10px]" (click)="handleLoadMorePosts()">{{'browsePosts.Load-more'|translate}}</button>
                }
                @else {
                    <div class="flex flex-col w-full justify-center items-center space-y-[10px]">
                        <p class="footnote text-deep-charcoal">{{'browsePosts.No-more-post'|translate}}</p>
                        @if(!postPages.first){
                            <button class="bg-primary-1 p-[10px] text-soft-ice caption-1 rounded-[10px] w-full" (click)="handleLessPosts()">{{'browsePosts.See-less'|translate}}</button>
                        }
                    </div>
                }
            }
            @else {
                <h1 class="body">{{'list.Empty'|translate}}</h1>
            }
        }
        @else {
            @if (isLoading["search"]) {
                <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
            }
            @else if (searchPost.length > 0 && !isLoading["search"]) {
                @for (post of searchPost; track $index) {
                    <app-post-card-component 
                    [post]="post"
                    (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
                }
                <app-pages-component [pages]="postPages" (onApply)="fetchMyPosts($event)"></app-pages-component>
            }
            @else {
                @if (isPostFound) {
                    <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
                }
                @else {
                    <h1 class="body">{{'browsePosts.Post-not-found'|translate}}</h1>
                }
            }
        }
    </div>
</div>