@media (min-width: 1024px) {
    .container{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:30px;
        min-width: calc(100dvw - 25px);
    }

    .book-container{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        padding: 5px;
        gap: 10px;
    }

    .book-cover-container{
        height: 250px;
        overflow-y: hidden;
        
    }

    .book-cover{
        /* width: 200px; */
        border-radius: 8px;
        height: 250px;
        max-width: 250px;
    }

    .posts-scrolling-area{
        height: 65vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 1023px) {
    .container{
        padding: 20px;
        /* display: grid;
        grid-template-rows: 1fr 1fr; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .book-container{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        padding: 5px;
        gap: 10px;
    }

    .book-cover-container{
        height: 100px;
        overflow-y: hidden;
        
    }

    .book-cover{
        /* width: 200px; */
        border-radius: 8px;
        height: 200px;
        max-width: 250px;
    }

    .posts-scrolling-area{
        height: 80dvh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}