@media (min-width: 1024px) {
    /* .signup-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .sign-up-container {
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px;
        min-width: 50dvw;
        max-height: 80dvh;
        overflow-y: auto;
    }
}

@media (max-width: 1023px) {
    /* .signup-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 70px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    } */
    .sign-up-container {
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 20px;
        min-width: 50dvw;
        max-width: calc(100% - 20px);
        max-height: 90dvh;
        overflow-y: auto;
    }
}