<app-navbar></app-navbar>
<div class="container">
    <h1 class="headline">{{'postPage.Edit-post'|translate}}</h1>
    <div class="post-container">
    @if(post){        
        <div class="flex justify-between items-start">
            <div class="user-info-container">
                <div class="headline font-bold">@{{post.createdBy}}</div>
                <div class="caption-2">{{formattedPostedAt}}</div>
            </div>
            
            <div>
                <div class="book-info-container select-none cursor-not-allowed">
                    <div class="flex space-x-[5px] items-start">
                        <img [src]="backendUrl + '/book-covers/' + getWebpCover(post.book.coverUrl)" class="book-cover" (error)="onImageError($event)"/>
                        <div>
                            <h1 class="header font-bold">{{chosenBook.title}}</h1>
                            <h1 class="subheader font-bold">{{'book.Author'|translate}}: {{chosenBook.author}}</h1>
                            <div class="line-clamp-1">
                                @if (chosenBook.genres) {
                                    <div>{{'book.Genres'|translate}}:
                                        <span>
                                            @for (genre of chosenBook.genres; track $index) {
                                                @if ($index + 1 == chosenBook.genres.length) {
                                                    <span class="">{{ genre.name }}</span>
                                                }
                                                @else {
                                                    <span class="">{{ genre.name }} | </span>
                                                }
                                            }

                                        </span> 
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <small>{{'postPage.You-cannot-change-book'|translate}}</small>
            </div>
        </div>

        <form [formGroup]="postForm" id="postForm" (ngSubmit)="onSubmit()" class="form-container">
            @if (isPostSame) {
                <small class="text-tomato-red">{{"postPage.Please-make-change-to-your-post"|translate}}</small>
            }
            <div class="flex flex-col">
                <input formControlName="subject" type="text" placeholder='{{"post.Subject"|translate}}*' 
                    class="bg-cool-gray text-deep-charcoal rounded-[10px] w-full p-[10px]"/>
                    @if (!isSubjectValid) {
                        <small class="text-tomato-red">{{"createPost.Please-enter-subject"|translate}}</small>
                    }
            </div>
            <div>
                <div class="post-content-container">
                    <textarea formControlName="content" placeholder='{{"post.Body"|translate}}*' 
                        class="bg-cool-gray text-deep-charcoal rounded-[10px] w-full p-[10px] max-h-full min-h-full resize-none"></textarea>
                </div>
                @if (!isContentValid) {
                    <small class="text-tomato-red">{{"createPost.Please-enter-content"|translate}}</small>
                }
            </div>
        </form>

        <div class="flex space-x-[10px]">
            @if (post) {
                <button type="submit" form="postForm" class="p-[5px] text-soft-ice rounded-[10px] bg-leaf-green">{{'form.Save'|translate}}</button>
                <button class="bg-tomato-red p-[5px] text-soft-ice rounded-[10px] caption-1" (click)="handleDeletePost()">{{'form.Delete'|translate}}</button>
                <button class="border border-tomato-red p-[5px] text-tomato-red rounded-[10px] caption-1" (click)="handleCancel()">{{'form.Cancel'|translate}}</button>
            }
        </div>
    }
    @else {
        <div class="flex items-center justify-center h-full">
            <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
        </div>
    }
    </div>

    @if(isOpenBookList){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            @if (books) {
                <app-book-list-component [selectable]="true" (onClose)="handleCloseBookList()" (onChange)="fetchBooks($event)"></app-book-list-component>
            }
            @else {
                <div class="w-10 h-10 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
            }
        </div>
    }
</div>