<div class="container">
    <div class="flex justify-between items-center">
        <div class="headline font-bold">{{'booksManagement.Book-list'|translate}}</div>
        <button class="flex items-center select-none" (click)="onClose.emit()"><span class="material-symbols-outlined">close</span></button>
    </div>
    @if (isLoading) {
        <div class="w-full h-full flex items-center justify-center">
            <app-loading-component></app-loading-component>
        </div>
    }
    @else {
        @if (books.length>0) {
            <div class="flex flex-col space-y-[10px]">
                <div class="body font-bold">{{"booksManagement.Total-books"|translate}}: {{booksPage.totalElements}}</div>
                <button class="border border-primary-1 text-primary-1 px-[10px] py-[5px] rounded-[10px]" (click)="handleSelectAll()">{{"list.Select-all"|translate}}</button>
                <button class="border border-tomato-red text-tomato-red px-[10px] py-[5px] rounded-[10px]" (click)="handleUnselectAll()">{{"list.Unselect-all"|translate}}</button>
                <div class="flex flex-col space-y-[5px] items-center">
                    <div class="list">
                        @for(book of books; track book.id){
                            <div (click)="toggleSelectedUser(book)" class="select-none cursor-pointer body p-[10px] rounded-[10px] flex flex-col transition ease-in-out w-full" [class]="selectedBooks.some(b => b.id == book.id)? 'border border-primary-1 bg-primary-1 text-soft-ice':'border border-primary-1 text-primary-1 hover:bg-primary-1 hover:text-soft-ice'">
                                <div class="font-bold">{{"book.Title"|translate}}: {{book.title}}</div>
                                <div>{{"book.Author"|translate}}: {{book.author}}</div>
                                <div>
                                    <span>{{"book.Genres"|translate}}: </span>
                                    @if (book.genres) {
                                        @for (genre of book.genres; track $index) {
                                            @if ($index + 1 == book.genres?.length) {
                                                <span>{{genre.name}}</span>
                                            }
                                            @else {
                                                <span>{{genre.name}}, </span>
                                            }
                                        }
                                    }
                                </div>
                                <div>{{"book.Copies"|translate}}: {{book.copies}}</div>
                            </div>
                        }
                    </div>
                    <app-pages-component [pages]="booksPage" (onApply)="fetchAllBooks($event)"></app-pages-component>
                </div>
            </div>
        }   
        @else {
            <div class="w-full h-full flex items-center justify-center">
                <div>{{"list.Empty"|translate}}</div>
            </div>
        }
    }
    <div class="flex items-center space-x-[10px]">
        <button class="bg-primary-1 text-soft-ice px-[10px] py-[5px] rounded-[10px]" (click)="handleExport()">{{"export.Export"|translate}}</button>
        <div class="body font-bold">{{"booksManagement.Selected-books"|translate}}: {{selectedBooks.length}}</div>
    </div>
</div>