<app-navbar></app-navbar>

<div class="container">
    <div class="side-menu">
        <div class="flex flex-col space-y-[10px]">
            <app-sort-side-bar-component
            [isSearch]="isSearch"
            [sortBy]="['Title', 'Author']"
            [filterBy]="genres"
            (onApply)="handleApply($event)">
            </app-sort-side-bar-component>
            <button class="bg-primary-1 text-soft-ice p-[5px] rounded-[10px] headline" (click)="isCreateNewBook = true">{{'booksManagement.Add-book'|translate}}</button>
            <button class="text-soft-ice p-[5px] rounded-[10px] border bg-sky-blue headline" (click)="isOpenBookList = true">{{'booksManagement.Book-list'|translate}}</button>
            <button class="text-soft-ice p-[5px] rounded-[10px] border bg-leaf-green headline" (click)="isOpenGenreManagement = true">{{'booksManagement.Genres-management'|translate}}</button>
            <button class="text-primary-1 p-[5px] rounded-[10px] border border-primary-1 headline" (click)="isExportBook = true">{{'export.Export'|translate}}</button>
        </div>
    </div>

    <div class="books-area">
        @if (!isSearch) {
            <div>
                <h1 class="title font-bold">{{'browseBooks.Top-borrowed-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(mostBorrowedBooks.length > 0){
                        @for (book of mostBorrowedBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">Loading...</h1>
                    }
                </div>
            </div>

            <div>
                <h1 class="title font-bold">{{'browseBooks.People-are-writing-about-these-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(mostPostsBooks.length > 0){
                        @for (book of mostPostsBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                    }
                </div>
            </div>

            <div>
                <h1 class="title font-bold">{{'browseBooks.Newly-arrived'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(newlyArrivedBooks.length > 0){
                        @for (book of newlyArrivedBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                    }
                </div>
            </div>
        }
        @else {
            <div>
                <h1 class="title font-bold">{{'browseBook.Result'|translate}}</h1>
                <div class="books-result-area">
                    @if(searchBooks.length > 0){
                        @for (book of searchBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        @if (isBookFound) {
                            <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                        }
                        @else {
                            <h1 class="body">{{'browseBooks.Book-not-found'|translate}}</h1>
                        }
                    }
                </div>
                <app-pages-component [pages]="bookPages" (onApply)="fetchLastQuery($event)"></app-pages-component>
            </div>
        }
    </div>
    @if(isOpenBookList){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-book-list-component [deletable]="true" (onClose)="handleCloseBookList()"></app-book-list-component>
        </div>
    }

    @if (isCreateNewBook) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-new-book-form (onClose)="handleCloseCreateBookForm()"></app-new-book-form>
        </div>
    }

    @if (isOpenGenreManagement) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-genres-management-form (onClose)="handleCloseGenreManagement()" (onChange)="handleChangeGenre($event)"></app-genres-management-form>
        </div>
    }

    @if (isExportBook) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-export-books-form (onClose)="handleCloseExportBook()"></app-export-books-form>
        </div>
    }

</div>