@media (min-width: 1024px) {
    .container{
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items:start;
        gap: 30px;
        min-width: calc(100dvw - 25px);
    }

    .books-area{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 0;
        gap: 20px;
    }

    .book-scrolling-area{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        height: 380px;
        gap: 10px;
    }

    .books-result-area{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        overflow-y: auto;
    }
}

@media (max-width: 1023px) {
    .container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .side-menu{
        width: 100%;
    }
    .books-area{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .book-scrolling-area{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: calc(100vw - 60px); /* full viewport width minus container padding */
        gap: 10px;
    }

    .books-result-area{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}