@if (pages) {
    <div class="flex space-x-[5px] items-center">
        @if (!pages.first) {
            <span class="material-symbols-outlined cursor-pointer" (click)="apply(pages.number-1)">
                arrow_back_ios
            </span>
        }
        <p>{{'page.Page'|translate}}: {{pages.number + 1}}/{{pages.totalPages}}</p>
        @if (!pages.last) {
            <span class="material-symbols-outlined cursor-pointer" (click)="apply(pages.number+1)">
                arrow_forward_ios
            </span>
        }
    </div>
}