@if (pages) {
    <div class="container py-[10px]">
        @if (!pages.first) {
            <span class="material-symbols-outlined cursor-pointer select-none" (click)="apply(pages.number-1)">
                chevron_left
            </span>
        }
        @else {
            <div></div>
        }
        <p class="select-none">{{pages.number + 1}}/{{pages.totalPages}}</p>
        @if (!pages.last) {
            <span class="material-symbols-outlined cursor-pointer select-none" (click)="apply(pages.number+1)">
                chevron_right
            </span>
        }
        @else {
            <div></div>
        }
    </div>
}