@media (min-width: 1024px){
    .container{
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px;
        overflow-y: scroll;
        height: 80vh;
        width: 50vw;
    }
}

@media (max-width: 1023px){
    .container{
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px;
        overflow-y: scroll;
        height: 80dvh;
        max-width: calc(100dvw - 20px);
    }
}