<div class="container">
    <div class="flex justify-between items-center">
        <p class="headline font-bold">{{'roleList.Role-list'|translate}}</p>
        <span (click)="close()" class="material-symbols-outlined cursor-pointer">close</span>
    </div>

    <div class="flex justify-between items-center space-x-[5px]">
        <input placeholder="{{'search.Search' | translate}}" type="text" class="w-full bg-cool-gray rounded-[10px]" [(ngModel)]="query"/>
        <span (click)="handleSearch(query)" class="material-symbols-outlined cursor-pointer bg-steel-blue p-[5px] text-soft-ice rounded-[10px]">search</span>
        <button (click)="handleClear()" class="bg-cool-gray py-[5px] px-[10px] rounded-[10px] text-nowrap">{{"search.Clear"|translate}}</button>
    </div>
    
    @if (resultRoles.length == 0) {
        @for (role of roles; track $index) {
            @if (role.name == "ROOT") {
                <div class="w-full py-[5px] px-[10px] w-[300px] border border-primary-1/70 text-primary-1/70 rounded-[10px] cursor-not-allowed">
                    <div class="flex space-x-[5px]">
                        <div class="body font-bold select-none">{{role.name.replace("ROLE_", "")}}</div>
                        <span class="material-symbols-outlined [font-variation-settings:'FILL'_1,'wght'_400,'GRAD'_0,'opsz'_24] text-primary-1/70 ">star</span>
                    </div>
                    <div>{{getUserCount(role.name)}} {{'roleList.members' | translate}}</div>
                    <div class="caption-1">{{"roleList.Edit-ROLE_ROOT-is-not-permitted"|translate}}</div>
                </div>
            }
            @else {
                <div class="select-none cursor-pointer w-full py-[5px] px-[10px] w-[300px] border border-primary-1 text-primary-1 rounded-[10px] hover:bg-primary-1 hover:text-soft-ice ease-in-out transition" (click)="choose(role)">
                    <div class="flex space-x-[5px] items-center">
                        <div class="body font-bold select-none">{{role.name.replace("ROLE_", "")}}</div>
                        @if(role.default){
                            <small class="px-[10px] rounded-3xl bg-cool-gray text-deep-charcoal">{{"role.Default-role" | translate}}</small>
                        }
                    </div>
                    <div>{{getUserCount(role.name)}} {{'roleList.members' | translate}}</div>
                </div>
            }
        }
    }
    @else {
        @for (role of resultRoles; track $index) {
            @if (role.name == "ROOT") {
                <div class="w-full py-[5px] px-[10px] w-[300px] border border-primary-1/70 text-primary-1/70 rounded-[10px] cursor-not-allowed">
                    <div class="flex space-x-[5px]">
                        <div class="body font-bold select-none">{{role.name.replace("ROLE_", "")}}</div>
                        <span class="material-symbols-outlined [font-variation-settings:'FILL'_1,'wght'_400,'GRAD'_0,'opsz'_24] text-primary-1/70 ">star</span>
                    </div>
                    <div>{{getUserCount(role.name)}} {{'roleList.members' | translate}}</div>
                    <div class="caption-1">{{"roleList.Edit-ROLE_ROOT-is-not-permitted"|translate}}</div>
                </div>
            }
            @else {
                <div class="select-none cursor-pointer w-full py-[5px] px-[10px] w-[300px] border border-primary-1 text-primary-1 rounded-[10px] hover:bg-primary-1 hover:text-soft-ice ease-in-out transition" (click)="choose(role)">
                    <div class="body font-bold select-none">{{role.name.replace("ROLE_", "")}}</div>
                    <div>{{getUserCount(role.name)}} {{'roleList.members' | translate}}</div>
                </div>
            }
        }
    }
</div>