@media (min-width: 1024px){
    .container{
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px
    }
}