<div class="container">
    <div class="flex justify-between items-center">
        <p class="title-3 font-bold">{{'roleList.Role_list'}}</p>
        <span (click)="close()" class="material-symbols-outlined select-none">close</span>
    </div>
    @for (role of roles; track $index) {
        <div class="py-[5px] px-[10px] w-[300px] border border-primary-1 text-primary-1 rounded-[10px] hover:bg-primary-1 hover:text-soft-ice ease-in-out transition" (click)="choose(role)">
            <div class="body font-bold select-none">{{role.name}}</div>
            <div>{{getUserCount(role.name)}} {{'roleList.members' | translate}}</div>
        </div>
    }
</div>