@media (min-width: 768px) {  /* md */
    .borrow-card{
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px;
        background-color: var(--color-soft-ice);
        border-radius: 10px;
    }

    .book-cover{
        width: 100px;
    }

    .book-info-area{
        display: flex;
        flex-direction: column;
        
    }
}