@media (min-width: 1024px) {  /* md */
    .container{
        padding: 10px;
        background-color: var(--color-soft-ice);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .borrow-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .borrow-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .book-cover{
        width: 70px;
        height: 100px;
    }

    .book-info-area{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1023px) {  /* md */
    .container{
        padding: 10px;
        background-color: var(--color-soft-ice);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .borrow-card{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .book-cover{
        width: 70px;
    }

    .book-info-area{
        display: flex;
        flex-direction: column;
    }
}