@media (min-width: 1024px) {  /* md */
    .borrow-card{
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px;
        background-color: var(--color-soft-ice);
        border-radius: 10px;
    }

    .book-cover{
        width: 70px;
    }

    .book-info-area{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1023px) {  /* md */
    .borrow-card{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        background-color: var(--color-soft-ice);
        border-radius: 10px;
    }

    .book-cover{
        width: 70px;
    }

    .book-info-area{
        display: flex;
        flex-direction: column;
    }
}