.active-page h1{
    font-weight: bold !important;
}



@media (min-width: 1024px) {
  .pages-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    max-width: 100%;
    padding: 5px;
  }

  .setting-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .icon-size {
    font-size: 30px; /* tablet */
  }
}

@media (max-width: 1023px) {
  .pages-container{
    display: none;
  }
  .setting-container{
    display: none;
  }
  .mobile-setting-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-menu-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    background-color: var(--color-steel-blue);
    color: var(--color-soft-ice)
  }

  .mobile-menu-container.inactive{
    display: none !important;
  }

  .mobile-pages-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-steel-blue);
    color: var(--color-soft-ice)
  }

  .mobile-setting-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .icon-size {
    font-size: 20px; /* mobile */
  }
}