<nav class="sticky top-0 left-0 w-full z-50 p-4 bg-steel-blue text-white">
    <div class="flex justify-between items-center">
        @if (validateUser) {
            <div class="pages-container">
                @for (page of roleUserPages; track $index) {
                    <a [routerLink]="page.path" routerLinkActive="active-page">
                        <h1 class="body">{{page.name|translate}}</h1>
                    </a>
                    @if($index < roleUserPages.length - 1) {
                        <div class="border border-white"></div>
                    }
                }
            </div>
        <div class="setting-container">
            <select [value]="langService.currentLang" (change)="langService.switchLanguage($any($event.target).value)" class="text-deep-charcoal bg-soft-ice rounded p-1">
                <option value="en">English</option>
                <option value="vi">Tiếng Việt</option>
                <option value="fr">Français</option>
            </select>

            <span class="material-symbols-outlined icon-size">notifications</span>

            <div class="flex items-center space-x-[5px]">
                <span class="material-symbols-outlined icon-size">account_circle</span>
                <div>
                    <h1 class="headline">{{('navBar.hello'|translate)}}: {{fullName}}</h1>
                </div>
            </div>
        </div>

        <div class="mobile-setting-icon lg:hidden">
            <span class="material-symbols-outlined cursor-default" (click)="toggleMobileMenu()">menu</span>
            <span class="material-symbols-outlined icon-size cursor-default">notifications</span>
        </div>
        }
        @else {
            <h1 class="subheadline font-bold">Library Management System</h1>
        }
    </div>
    
<!-- 
    @if (validateUser) {
        <div class="mobile-setting-icon lg:hidden">
            <span class="material-symbols-outlined" (click)="toggleMobileMenu()">menu</span>
            <span class="material-symbols-outlined icon-size">notifications</span>
        </div>
    } -->

    <div id="mobile-menu-container" class="mobile-menu-container lg:hidden" [class.inactive]="!isMobileMenuOpen">
        <div class="mobile-pages-container">
            @for (page of roleUserPages; track $index) {
                <a [routerLink]="page.path" routerLinkActive="active-page">
                    <h1 class="body">{{page.name|translate}}</h1>
                </a>
                @if($index < roleUserPages.length - 1) {
                    <div class="border border-white"></div>
                }
            }
        </div>

        <div class="mobile-setting-container">
            <select [value]="langService.currentLang" (change)="langService.switchLanguage($any($event.target).value)" class="text-deep-charcoal bg-soft-ice rounded p-1">
                <option value="en">English</option>
                <option value="vi">Tiếng Việt</option>
                <option value="fr">Français</option>
            </select>

            <div class="flex items-center space-x-[5px]">
                <span class="material-symbols-outlined icon-size">account_circle</span>
                <div>
                    <h1 class="headline">{{('navBar.hello'|translate)}}: {{fullName}}</h1>
                </div>
            </div>
        </div>
    </div>
</nav>

