<nav class="sticky top-0 left-0 w-full z-50 p-4 bg-steel-blue text-white">
    <div class="flex justify-between items-center">
        @if (validateUser) {
            <div class="pages-container">
                @for (page of pages; track $index) {
                    <a [routerLink]="page.path" routerLinkActive="active-page">
                        <h1 class="body">{{page.name|translate}}</h1>
                    </a>
                    @if($index < pages.length - 1) {
                        <div class="border border-white"></div>
                    }
                }
            </div>
        <div class="setting-container">
            <select [value]="langService.currentLang" (change)="langService.switchLanguage($any($event.target).value)" class="text-deep-charcoal bg-soft-ice rounded p-1">
                <option value="en">English</option>
                <option value="vi">Tiếng Việt</option>
                <option value="fr">Français</option>
            </select>

            <!-- <span class="material-symbols-outlined icon-size">notifications</span> -->

            <div class="flex items-center space-x-[5px]">
                <span routerLink='/settings' class="material-symbols-outlined icon-size cursor-pointer">account_circle</span>
                <h1 class="headline">{{('navBar.hello'|translate)}}: {{user?.fullName}}</h1>
            </div>

            <div class="border border-white mx-[10px]"></div> 

            <button class="border border-soft-ice p-[10px] rounded-[10px] caption-1 font-bold" (click)="handleLogout()">Logout</button>
        </div>

        <div class="mobile-setting-icon lg:hidden">
            <span class="material-symbols-outlined cursor-default" (click)="toggleMobileMenu()">menu</span>
            <!-- <span class="material-symbols-outlined icon-size cursor-default">notifications</span> -->
        </div>
        }
        @else {
            <h1 class="subheadline font-bold">Library Management System</h1>
        }
    </div>

    <div id="mobile-menu-container" class="mobile-menu-container lg:hidden" [class.inactive]="!isMobileMenuOpen">
        <div class="mobile-pages-container">
            @for (page of pages; track $index) {
                <a [routerLink]="page.path" routerLinkActive="active-page">
                    <h1 class="body">{{page.name|translate}}</h1>
                </a>
                @if($index < pages.length - 1) {
                    <div class="border border-white"></div>
                }
            }
        </div>

        <div class="mobile-setting-container">
            <select [value]="langService.currentLang" (change)="langService.switchLanguage($any($event.target).value)" class="text-deep-charcoal bg-soft-ice rounded p-1">
                <option value="en">English</option>
                <option value="vi">Tiếng Việt</option>
                <option value="fr">Français</option>
            </select>

            <div class="flex items-center space-x-[5px]">
                <span class="material-symbols-outlined icon-size cursor-pointer" routerLink="/settings">account_circle</span>
                <h1 class="headline">{{('navBar.hello'|translate)}}: {{user?.fullName}}</h1>
            </div>
            <button class="border border-soft-ice p-[10px] rounded-[10px] caption-1 font-bold" (click)="handleLogout()">Logout</button>
        </div>
    </div>
</nav>

