<nav class="sticky top-0 left-0 min-w-screen z-50 p-4 bg-steel-blue text-white">
    <div class="flex justify-between items-center space-x-[10px]">
        @if (validateUser) {
            <div class="pages-container">
                @for (page of pages; track $index) {
                    <a [routerLink]="page.path" routerLinkActive="active-page">
                        <h1 class="caption-1 text-nowrap">{{page.name | translate}}</h1>
                    </a>
                    @if($index < pages.length - 1) {
                        <div class="border border-white"></div>
                    }
                }
            </div>

        
        <div class="setting-container">
            <!-- <span class="material-symbols-outlined icon-size">notifications</span> -->
            <app-language-selector></app-language-selector>
            <div class="">
                <div class="group flex items-center space-x-[10px] select-none cursor-pointer bg-white text-primary-1 px-[10px] py-[5px] rounded-[10px] hover:bg-primary-1 hover:text-soft-ice transition ease-in-out" routerLink='/settings'>
                    <span class="material-symbols-outlined icon-size ">account_circle</span>
                    <div>
                        <h1 class="text-nowrap">{{user?.fullName}}</h1>
                        <div class="bg-primary-1 text-soft-ice w-fit px-[10px] py-[3px] rounded-full caption-1 group-hover:bg-cool-gray group-hover:text-primary-1 transition ease-in-out">{{user?.role?.name?.replace("ROLE_","")}}</div>
                    </div>
                </div>
                
            </div>


            <div class="border border-white mx-[10px] h-[50px]"></div> 

            <button class="border border-soft-ice p-[10px] rounded-[10px] caption-1 font-bold" (click)="handleLogout()">{{"login.Logout"|translate}}</button>
        </div>

        <div class="mobile-setting-icon lg:hidden select-none ">
            <span class="material-symbols-outlined cursor-pointer" (click)="toggleMobileMenu()">menu</span>
            <app-language-selector></app-language-selector>
        </div>
        }
        @else {
            <div class="flex items-center justify-between w-full">
                <h1 class="font-bold">Library Management System</h1>
                <app-language-selector></app-language-selector>
            </div>
        }
    </div>

    <div id="mobile-menu-container" class="mobile-menu-container lg:hidden" [class.inactive]="!isMobileMenuOpen">
        <div class="mobile-pages-container">
            @for (page of pages; track $index) {
                <a [routerLink]="page.path" routerLinkActive="active-page">
                    <h1 class="caption-1">{{page.name|translate}}</h1>
                </a>
                @if($index < pages.length - 1) {
                    <div class="border border-white"></div>
                }
            }
        </div>

        <div class="mobile-setting-container">
            <div class="flex items-center space-x-[5px] select-none cursor-pointer" routerLink='/settings'>
                <span class="material-symbols-outlined icon-size">account_circle</span>
                <div>
                    <h1 class="caption-1">{{user?.fullName}}</h1>
                    <div class="bg-cool-gray w-fit px-[10px] py-[3px] caption-2 rounded-3xl">{{user?.role?.name?.replace("ROLE_","")}}</div>
                </div>
            </div>
            <button class="border border-soft-ice p-[10px] rounded-[10px] caption-1 font-bold" (click)="handleLogout()">"login.Logout"|translate</button>
        </div>
    </div>
</nav>

