<app-navbar></app-navbar>
<div class="fixed inset-0 flex items-center justify-center">
    <div class="container">
        <p class="headline font-bold">{{'settings.Change-password'|translate}}</p>
        <form [formGroup]="passwordForm" id="passwordForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col">
                <label for="oldPassword">{{'user.Old-password' |translate}}</label>
                <input id="oldPassword" formControlName="oldPassword" placeholder="{{'user.Old-password' | translate}}" type="password" class="rounded-[10px]" [class]="isOldPasswordCorrect == true ? 'bg-pastel-blue text-dodger-blue' : 'bg-pastel-red text-tomato-red'"/>
                @if (!isOldPasswordCorrect) {
                    <small>{{"verification.Your-passswod-is-incorrect"|translate}}</small>
                }
            </div>

            <div class="flex flex-col">
                <label for="newPassword">{{'user.New-password' |translate}}</label>
                <input id="newPassword" formControlName="newPassword" placeholder="{{'user.New-password' | translate}}" type="password" class="rounded-[10px]" [class]="isPasswordMatch == true ? 'bg-pastel-blue text-dodger-blue' : 'bg-pastel-red text-tomato-red'"/>
            </div>

            <div class="flex flex-col">
                <label for="confirmPassword">{{'user.Old-password' |translate}}</label>
                <input id="confirmPassword" formControlName="confirmPassword" placeholder="{{'user.Confirm-password' | translate}}" type="password" class="rounded-[10px]" [class]="isPasswordMatch == true ? 'bg-pastel-blue text-dodger-blue' : 'bg-pastel-red text-tomato-red'"/>
                @if (!isPasswordMatch) {
                    <small>{{"verification.Your-passswod-is-not-match"|translate}}</small>
                }
            </div>

            <div class="flex flex-col">
                <p [class]="isPasswordValid == false ? 'text-tomato-red font-bold' : 'text-deep-charcoal'">{{'signup.Your-password-must-have'|translate}}:</p>
                    <ul class="list-disc list-inside" [class]="isPasswordValid==false ? 'text-tomato-red font-bold' : 'text-deep-charcoal'">
                        <li>{{'signup.At-least-8-characters' | translate}}</li>
                        <li>{{"signup.1-special-character" | translate}}</li>
                    </ul>
            </div>
        </form>

        <div class="flex space-x-[10px]">
            <button type="submit" form="passwordForm" class="bg-steel-blue px-[10px] py-[5px] text-soft-ice body rounded-[10px]">{{'form.Save'|translate}}</button>
            <button type="button" class="border border-tomato-red px-[10px] py-[5px] text-tomato-red body rounded-[10px]">{{'form.Cancel'|translate}}</button>
        </div>
    </div>
</div>