@if (post) {
    <div class="post-card">
        <div class="post-info-area">
            <div>
                <h1 class="font-bold body">@{{post.createdBy}}</h1>
                <h2 class="caption-2">{{formattedPostedAt}}</h2>
            </div>
            <div>
                <div class="flex items-start space-x-[5px]">
                    <img src="{{backendUrl}}/book-covers/{{post.book.coverUrl}}" alt={{post.book.title}} class="book-cover" (error)="onImageError($event)">
                    <div>
                        <h1 class="caption-1 font-bold line-clamp-2">{{post.book.title}}</h1>
                        <h1 class="caption-2 line-clamp-1">{{'book.Author'|translate}}: {{post.book.author}}</h1>
                        <h1 class="caption-2 line-clamp-1">{{'book.Genres'|translate}}: {{post.book.genres}}</h1>
                    </div>
                </div>
                <div class="w-full border my-[10px] border-sky-blue"></div>
                <h2 class="headline line-clamp-2">{{post.subject}}</h2>
                <p class="caption-1 line-clamp-3">{{post.content}}</p>
            </div>
        </div>

        <div class="flex items-center justify-evenly w-full">
            <div class="flex items-center space-x-[5px] cursor-pointer" (click)="toggleLike()">
                <span class="material-symbols-outlined text-sky-blue icon" [class.active]="post.liked">thumb_up</span>
                <h1 class="caption-2">{{formattedLikeCount}}</h1>
            </div>

            <div class="flex items-center space-x-[5px] cursor-pointer">
                <span class="material-symbols-outlined text-sky-blue">comment</span>
                <h1 class="caption-2">{{formattedCommentCount}}</h1>
            </div>
        </div>
    </div>
}