@media (min-width: 1024px) {
    .container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
        height: 250px;
    }
    .user-info-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 1023px) {
    .container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px
    }
    .user-info-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}