<div class="container border border-primary-1 rounded-[10px] select-none">
    <h1 class="title-2 font-bold">@{{user.username}}</h1>
    <div class="p-[5px] bg-primary-1 rounded-[10px] caption-1 text-soft-ice w-fit">{{user.role?.name}}</div>
    <div class="user-info-container">
        <div>{{'user.Full-name'|translate}}: {{user.fullName}}</div>
        <div>{{'user.Email'|translate}}: {{user.email}}</div>
        <div>{{'user.Phone-number'|translate}}: {{user.phoneNumber}}</div>
        <div>{{'user.Address'|translate}}: {{user.address}}</div>
    </div>
</div>