<app-navbar></app-navbar>
@if (announcements) {
    @for (announcement of announcements; track announcement.id) {
        @if (announcement.isActive) {
            <app-announcement-component
                [location]="'/books'"
                (onClose)="handleCloseAnnouncement(announcement.id)"
                [announcement]="announcement">
            </app-announcement-component>
        }
    }
}
<div class="container">
    <div class="side-menu">
        <div class="flex flex-col space-y-[10px]">
            <app-sort-side-bar-component
            [isSearch]="isSearch"
            [sortBy]="['Title', 'Author']"
            [filterBy]="genres"
            (onApply)="handleApply($event)">
            </app-sort-side-bar-component>
            <button class="text-soft-ice p-[5px] rounded-[10px] border bg-sky-blue caption-1 font-bold" (click)="isOpenBookList = true">{{'booksManagement.Book-list'|translate}}</button>
        </div>
    </div>

    <div class="books-area">
        @if (!isSearch) {
            <div>
                <h1 class="font-bold">{{'browseBooks.Top-borrowed-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if (isLoadMostBorrowedBooks) {
                        <app-loading-component></app-loading-component>
                    }
                    @else {
                        @if(mostBorrowedBooks.length > 0){
                            @for (book of mostBorrowedBooks; track $index) {
                                <app-book-card-component [book]="book"></app-book-card-component>
                            }
                        }
                        @else {
                            <div>{{"list.Empty"|translate}}</div>
                        }
                    }
                </div>
            </div>

            <div>
                <h1 class="font-bold">{{'browseBooks.People-are-writing-about-these-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if (isLoadMostPostsBooks) {
                        <app-loading-component></app-loading-component>
                    }
                    @else {
                        @if(mostPostsBooks.length > 0){
                            @for (book of mostPostsBooks; track $index) {
                                <app-book-card-component [book]="book"></app-book-card-component>
                            }
                        }
                        @else {
                            <div>{{"list.Empty"|translate}}</div>
                        }
                    }
                </div>
            </div>

            <div>
                <h1 class="font-bold">{{'browseBooks.Newly-arrived'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if (isLoadNewlyArrivedBooks) {
                        <app-loading-component></app-loading-component>
                    }
                    @else {
                        @if(newlyArrivedBooks.length > 0){
                            @for (book of newlyArrivedBooks; track $index) {
                                <app-book-card-component [book]="book"></app-book-card-component>
                            }
                        }
                        @else {
                            <div>{{"list.Empty"|translate}}</div>
                        }
                    }
                    
                </div>
            </div>
        }
        @else {
            <div>
                <h1 class="title font-bold">{{'search.Result'|translate}}</h1>
                <div class="books-result-area">
                    @if(searchBooks.length > 0){
                        @for (book of searchBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        @if (isBookFound) {
                            <app-loading-component></app-loading-component>
                        }
                        @else {
                            <h1 class="body">{{'browseBooks.Book-not-found'|translate}}</h1>
                        }
                    }
                </div>
                <div class="flex w-full justify-center"><app-pages-component [pages]="bookPages" (onApply)="fetchLastQuery($event)"></app-pages-component></div>
            </div>
        }
    </div>
    @if(isOpenBookList){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-book-list-component [deletable]="false" [selectable]="false" (onClose)="handleCloseBookList()"></app-book-list-component>
        </div>
    }
</div>