<app-navbar></app-navbar>

<div class="container">
    <div class="side-menu">
        <app-sort-side-bar-component
        [isSearch]="isSearch"
        [sortBy]="['Title', 'Author']"
        [filterBy]="genres"
        (onApply)="handleApply($event)">
        </app-sort-side-bar-component>
    </div>

    <div class="books-area">
        @if (!isSearch) {
            <div>
                <h1 class="title font-bold">{{'browseBooks.Top-borrowed-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(mostBorrowedBooks.length > 0){
                        @for (book of mostBorrowedBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">Loading...</h1>
                    }
                </div>
            </div>

            <div>
                <h1 class="title font-bold">{{'browseBooks.People-are-writing-about-these-books'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(mostPostsBooks.length > 0){
                        @for (book of mostPostsBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                    }
                </div>
            </div>

            <div>
                <h1 class="title font-bold">{{'browseBooks.Newly-arrived'|translate}}</h1>
                <div class="book-scrolling-area">
                    @if(newlyArrivedBooks.length > 0){
                        @for (book of newlyArrivedBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                    }
                </div>
            </div>
        }
        @else {
            <div>
                <h1 class="title font-bold">{{'search.Result'|translate}}</h1>
                <div class="books-result-area">
                    @if(searchBooks.length > 0){
                        @for (book of searchBooks; track $index) {
                            <app-book-card-component [book]="book"></app-book-card-component>
                        }
                    }
                    @else {
                        @if (isBookFound) {
                            <h1 class="body">{{'browseBooks.Loading'|translate}}...</h1>
                        }
                        @else {
                            <h1 class="body">{{'browseBooks.Book-not-found'|translate}}</h1>
                        }
                    }
                </div>
                <app-pages-component [pages]="bookPages" (onApply)="fetchLastQuery($event)"></app-pages-component>
            </div>
        }
    </div>
</div>