<div class="container">
    <div class="flex justify-between items-center">
        <p class="headline font-bold">{{'newUserForm.Create-new-user'|translate}}</p>
        <span (click)="close()" class="material-symbols-outlined cursor-pointer">close</span>
    </div>
    <div class="info-container">
        <form [formGroup]="newUserForm" id="newUserForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col">
                <label for="username">{{'user.Username' |translate}}</label>
                <div class="flex space-x-[5px] items-center">
                    <input id="username" formControlName="username" placeholder="{{'user.Username' | translate}}" type="text" class="rounded-[10px] w-full" [class]="isUsernameInvalid ? 'bg-pastel-red text-tomato-red' : 'bg-pastel-blue text-dodger-blue '"/>
                    @if(isUsernameAvailable == null){
                        <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="checkUsername()">
                            {{'form.Check-username'|translate}}
                        </button>
                    }
                    @else if (isUsernameAvailable == true) {
                        <span class="material-symbols-outlined text-leaf-green">check_circle</span>
                    }
                    @else {
                        <span class="material-symbols-outlined text-tomato-red">cancel</span>
                    }
                </div>
                @if (isUsernameInvalid) {
                    <small>{{"verification.Please-verify-your-username"|translate}}</small>
                }
            </div>

            <div class="flex flex-col">
                <label for="fullName">{{'user.Full-name' |translate}}</label>
                <input id="fullName" formControlName="fullName" placeholder="{{'user.Full-name' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
            </div>

            <div class="flex flex-col">
                <label for="email">{{'user.Email' |translate}}</label>
                <div class="flex space-x-[5px]">
                    <input id="email" formControlName="email" placeholder="{{'user.Email' | translate}}" type="text" class="rounded-[10px] w-full"  [class]="isEmailInvalid ? 'bg-pastel-red text-tomato-red' : 'bg-pastel-blue text-dodger-blue '"/>
                    @if (!isEmailVerified) {
                        @if (!isSendingVerificationEmail) {
                            <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleSendVerificationCode()">
                                {{'email.Verify'|translate}}
                            </button>
                        }
                        @else {
                            <div type="button" class="bg-steel-blue/70 text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px] cursor-not-allowed">
                                {{'email.Sending'|translate}}...
                            </div>
                        }
                    }
                    @else {
                        <span class="material-symbols-outlined text-leaf-green">check_circle</span>
                    }
                </div>
                @if (newUserForm.get('email')?.touched && newUserForm.get('email')?.invalid) {
                    @if (newUserForm.get('email')?.errors?.['required']) {
                        <small>{{'verification.Email-is-required'|translate}}</small>
                    }

                    @if (newUserForm.get('email')?.errors?.['email']) {
                        <small>{{'verification.Please-enter-a-valid-email'|translate}}</small>
                    }
                }
                @if (isEmailInvalid) {
                    <small>{{"verification.Please-verify-your-email"|translate}}</small>
                }
            </div>

            <div class="flex flex-col">
                    <label for="verification">{{'email.Verification-code' |translate}}</label>
                    <div class="flex space-x-[5px] items-center">
                        <input id="verification" formControlName="verificationCode" placeholder="{{'email.Verification-code' | translate}}" type="text"
                        [class]="isEmailVerified ? 'bg-pastel-blue/50 text-dodger-blue/50 rounded-[10px] w-full cursor-not-allowed' : 'bg-pastel-blue text-dodger-blue rounded-[10px] w-full'"/>
                        
                        @if (!isEmailVerified) {
                            <button type="button" class="bg-steel-blue text-soft-ice rounded-[10px] px-[10px] text-nowrap py-[5px]" (click)="handleVerify()">
                                {{'form.Send'|translate}}
                            </button>
                        }
                    </div>
                </div>

            <div class="flex flex-col">
                <label for="password">{{'user.Password' |translate}}</label>
                <input id="password" formControlName="password" placeholder="{{'user.Password' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
            </div>

            <div class="flex flex-col">
                <label for="phoneNumber">{{'user.Phone-number' |translate}}</label>
                <input id="phoneNumber" formControlName="phoneNumber" placeholder="{{'user.Phone-number' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
                @if (newUserForm.get('phoneNumber')?.touched && newUserForm.get('phoneNumber')?.invalid) {
                    @if (newUserForm.get('phoneNumber')?.errors?.['required']) {
                        <small>{{'verification.Phone-number-is-required'|translate}}</small>
                    }

                    @if (newUserForm.get('phoneNumber')?.errors?.['pattern']) {
                        <small>{{'verification.Please-enter-a-valid-phone-number'|translate}}</small>
                    }
                }
            </div>

            <div class="flex flex-col">
                <label for="address">{{'user.Address' |translate}}</label>
                <input id="address" formControlName="address" placeholder="{{'user.Address' | translate}}" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
            </div>

            <div class="flex flex-col">
                <label for="role">{{'role.Role' |translate}}</label>
                <select formControlName="role" class="bg-pastel-blue text-dodger-blue rounded-[10px] h-10">
                    @for (role of roles; track role.id) {
                        <option [value]="role.id">
                            {{ role.name }}
                        </option>
                    }
                </select>
            </div>

            <div class="flex flex-col">
                <label for="password">{{'user.Password' |translate}}</label>
                <input id="password" formControlName="password" placeholder="{{'user.Password' | translate}}" type="password" class="rounded-[10px]" [class]="isPasswordMatch ? 'bg-pastel-blue text-dodger-blue':'bg-pastel-red text-tomato-red'"/>
            </div>
            <div class="flex flex-col">
                <label for="confirm-password">{{'user.Confirm-password' |translate}}</label>
                <input id="confirm-password" formControlName="confirmPassword" placeholder="{{'user.Confirm-password' | translate}}" type="password" class="rounded-[10px]" [class]="isPasswordMatch ? 'bg-pastel-blue text-dodger-blue':'bg-pastel-red text-tomato-red'"/>
            </div>
            @if (!isPasswordMatch) {
                <small>{{"verification.Your-passswod-is-not-match"|translate}}</small>
            }

            <div class="flex flex-col">
                @if (isPasswordValid) {
                    <p>{{'signup.Your-password-must-have'|translate}}:</p>
                    <ul class="list-disc list-inside">
                        <li>{{'signup.At-least-8-characters' | translate}}</li>
                        <li>{{"signup.1-special-character" | translate}}</li>
                    </ul>
                }
                @else {
                    <p class="text-tomato-red">{{'signup.Your-password-must-have'|translate}}:</p>
                    <ul class="list-disc list-inside text-tomato-red">
                        <li>{{'signup.At-least-8-characters' | translate}}</li>
                        <li>{{"signup.1-special-character" | translate}}</li>
                    </ul>
                }
            </div>
        </form>
    </div>

    <div class="flex space-x-[10px]">
        <button type="submit" form="newUserForm" class="bg-steel-blue px-[10px] py-[5px] text-soft-ice body rounded-[10px]">{{'form.Save'|translate}}</button>
        <button class="border border-tomato-red px-[10px] py-[5px] text-tomato-red body rounded-[10px]" (click)="close()">{{'form.Cancel'|translate}}</button>
    </div>
</div>