@media (min-width: 1024px) {
    .container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 10px;
    gap: 10px;
    height: 80vh;
    width: 80vw;
    /* align-items: center; */
}

    .books-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-items: center;
        overflow-y: auto;
        width: calc(80vw - 20px);
        padding-left: 10px;
        padding-right: 10px;
        min-height: 0;
    }
}