<div class="container">
    <div class="flex justify-between items-center">
        <div class="headline">{{"bookList.List"|translate}}</div>
        <span (click)="close()" class="material-symbols-outlined cursor-pointer">close</span>
    </div>
    @if (isLoadingBookList) {
        <div class="flex justify-center w-full h-full items-center">
            <app-loading-component></app-loading-component>
        </div>
    }
    @else{
        <div class="flex items-center space-x-[10px]">
            <input placeholder="{{'book.Title'|translate}}" class="bg-pastel-blue text-dodger-blue rounded-[10px] w-full" [(ngModel)]="query"/>
            <button class="select-none items-center flex" (click)="fetchSearchBook()"><span class="material-symbols-outlined">search</span></button>
            <button (click)="handleClear()" class="bg-cool-gray p-[5px] rounded-[10px]">{{"search.Clear"|translate}}</button>
        </div>
        @if (isSearch != null) {
            @if (isSearch == true) {
               <div class="flex justify-center w-full h-full items-center">
                    <app-loading-component></app-loading-component>
                </div>
            }
            @else {
                @if (searchBooks.length > 0) {
                    <div>{{"search.Result"|translate}}</div>
                    @if (isBookFound) {
                        <div class="books-list">
                            @for (book of searchBooks; track book.id) {
                                <div class="flex flex-col space-y-[5px]">
                                    <app-book-card-component [book]="book"></app-book-card-component>
                                    @if(selectable){
                                        <button class="px-[10px] py-[5px] bg-primary-1 text-soft-ice rounded-[10px]" (click)="selectBook(book)">{{'bookList.Select-this-book' |translate}}</button>
                                    }
                                    @if (deletable) {
                                        <button class="px-[10px] py-[5px] bg-tomato-red text-soft-ice rounded-[10px]" (click)="handleDeleteBook(book)">{{'bookList.Delete-this-book' |translate}}</button>
                                    }
                                </div>
                            }   
                        </div>
                        <div class="flex w-full justify-center"><app-pages-component [pages]="resultPage" (onApply)="fetchSearchBook($event)"></app-pages-component></div>
                    }
                    @else {
                        <div>{{"list.Empty"|translate}}</div>
                    }
                }
                @else {
                    <div class="flex justify-center w-full h-full items-center">
                        <div>{{"list.Empty" |translate}}</div>
                    </div>
                }
            }
        }
        @else {
            @if (bookList.length > 0 && isSearch == null) {
                <div>{{"bookList.Total-number-of-book"|translate}}: {{totalBooks}}</div>
                
                <div class="books-list">
                    @for (book of bookList; track book.id) {
                        <div class="flex flex-col space-y-[5px]">
                            <app-book-card-component [book]="book"></app-book-card-component>
                            @if(selectable){
                                <button class="px-[10px] py-[5px] bg-primary-1 text-soft-ice rounded-[10px]" (click)="selectBook(book)">{{'bookList.Select-this-book' |translate}}</button>
                            }
                            @if (deletable) {
                                <button class="px-[10px] py-[5px] bg-tomato-red text-soft-ice rounded-[10px]" (click)="handleDeleteBook(book)">{{'bookList.Delete-this-book' |translate}}</button>
                            }
                        </div>
                    }   
                </div>
                <div class="flex w-full justify-center"><app-pages-component [pages]="bookListPage" (onApply)="fetchBookList($event)"></app-pages-component></div>
            }
            @else {
                <div class="flex justify-center w-full h-full items-center">
                    <div>{{"list.Empty" |translate}}</div>
                </div>
            }
        }
    }
</div>