<div class="container">
    <div class="flex justify-between items-center">
        <p class="headline font-bold">{{"form.Edit-role"|translate}}</p>
        <span (click)="close()" class="material-symbols-outlined cursor-pointer">close</span>
    </div>
    <form [formGroup]="newRoleForm" id="newRoleForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="flex flex-col">
            <label for="roleName">{{"role.Role-name"|translate}}</label>
            <input id="roleName" formControlName="roleName" type="text" class="bg-pastel-blue text-dodger-blue rounded-[10px] w-full" [placeholder]="role.name"/>
        </div>

        <div class="flex flex-col space-y-[10px]">
            <div class="headline">{{"role.Assigned-features" | translate}}</div>
            @if (removeFeatures.length == assignedFeatures.length) {
                <button (click)="handleResetAssignedFeatures()" type="button" class="px-[10px] py-[5px] border border-tomato-red text-tomato-red caption-1 rounded-[10px] hover:bg-tomato-red hover:text-soft-ice transition ease-in-out w-full">{{"form.Reset"|translate}}</button>
            }
            @else {
                <button (click)="handleUnassignedAll()" type="button" class="px-[10px] py-[5px] border border-primary-1 text-primary-1 caption-1 rounded-[10px] hover:bg-primary-1 hover:text-soft-ice transition ease-in-out w-full">{{"featuresManagement.Unassign-all"|translate}}</button>
            }
            <div class="features-container">
                @for (feature of assignedFeatures; track $index) {
                    <div [class]="removeFeatures.includes(feature) 
                    ? 'p-[5px] bg-tomato-red text-soft-ice text-center rounded-[10px] select-none transition-colors ease-in-out'
                    :'p-[5px] bg-primary-1 text-soft-ice text-center rounded-[10px] select-none transition-colors ease-in-out'" (click)="handleToggleFeature(feature)">{{feature.name}}</div>
                }
            </div>
        </div>

        <div class="flex flex-col space-y-[10px]">
            <div class="headline">{{"role.Unassigned-features" | translate}}</div>
            @if (addedFeatures.length == unassignedFeatures.length) {
                <button (click)="handleResetUnassignedFeatures()" type="button" class="px-[10px] py-[5px] border border-tomato-red text-tomato-red caption-1 rounded-[10px] hover:bg-tomato-red hover:text-soft-ice transition ease-in-out w-full">{{"form.Reset"|translate}}</button>
            }
            @else {
                <button (click)="handleAssignedAll()" type="button" class="px-[10px] py-[5px] border border-primary-1 text-primary-1 caption-1 rounded-[10px] hover:bg-primary-1 hover:text-soft-ice transition ease-in-out w-full">{{"featuresManagement.Assign-all"|translate}}</button>
            }
            <div class="features-container">
                @for (feature of unassignedFeatures; track $index) {
                    <div [class]="addedFeatures.includes(feature) 
                    ? 'p-[5px] bg-leaf-green text-soft-ice text-center rounded-[10px] select-none transition-colors ease-in-out'
                    :'p-[5px] bg-tomato-red text-soft-ice text-center rounded-[10px] select-none transition-colors ease-in-out'" (click)="handleToggleFeature(feature)">{{feature.name}}</div>
                }
            </div>
        </div>

        <div class="flex space-x-[5px] items-center w-full">
            <input id="defaultRole" formControlName="defaultRole" type="checkbox" class="bg-pastel-blue text-dodger-blue rounded-[10px]"/>
            <label for="defaultRole" class="text-nowrap font-bold">{{"role.Set-default"|translate}}</label>
        </div>

        <div class="flex space-x-[10px]">
            @if (!isProcessing) {
                <button type="submit" form="newRoleForm" class="bg-steel-blue px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]">{{'form.Save'|translate}}</button>
            }
            @else {
                <button type="button" class="bg-steel-blue/50 px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]">{{'form.Processing'|translate}}...</button>
            }
            @if (!isDeleting) {
                <button type="button" class="bg-tomato-red px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]" (click)="handleDeleteRole()">{{"form.Delete"|translate}}</button>
            }
            @else {
                <button type="button" class="bg-tomato-red/50 px-[10px] py-[5px] text-soft-ice caption-1 rounded-[10px]" (click)="handleDeleteRole()">{{"form.Processing"|translate}}...</button>
            }
            <button type="button" class="border border-tomato-red px-[10px] py-[5px] text-tomato-red caption-1 rounded-[10px]" (click)="close()">{{'form.Cancel'|translate}}</button>
        </div>
    </form>
    @if (isLoading) {
    <div class="fixed inset-0 flex items-center justify-center z-99 bg-soft-ice/50">
        <app-loading-component></app-loading-component>
    </div>
    }
</div>