<app-navbar></app-navbar>

<div class="container">
    <div class="side-menu">
        <div class="flex flex-col space-y-[10px]">
            <app-sort-side-bar-component
            [isSearch]="isSearch"
            (onApply)="handleApply($event)">
            </app-sort-side-bar-component>
            <button class="create-post-button headline" (click)="handleNavigateCreatePost()">{{'post.Create-post' |translate}}</button>
        </div>  
    </div>

    <div class="posts-area">
        @if (!isSearch) {
            @if (posts.length > 0) {
                @for (post of posts; track $index) {
                    <app-post-card-component 
                    [post]="post"
                    (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
                }
                <!-- <app-pages-component [pages]="postPages" (onApply)="fetchAllPosts($event)"></app-pages-component> -->
                @if (!postPages.last) {
                <button class="bg-primary-1 p-[10px] text-soft-ice caption-1 rounded-[10px]" (click)="handleLoadMorePosts()">{{'browsePosts.Load-more'|translate}}</button>
                }
                @else {
                    <div class="flex flex-col w-full justify-center items-center space-y-[10px]">
                        <p class="footnote text-deep-charcoal">{{'browsePosts.No-more-post'}}</p>
                        @if(!postPages.first){
                            <button class="bg-primary-1 p-[10px] text-soft-ice caption-1 rounded-[10px] w-full" (click)="handleLessPosts()">{{'browsePosts.See-less'|translate}}</button>
                        }
                    </div>
                }
            }
            @else {
                <h1 class="body">{{'browsePosts.Loading'|translate}}...</h1>
            }
        }
        @else {
            @if (searchPost.length > 0) {
                @for (post of searchPost; track $index) {
                    <app-post-card-component 
                    [post]="post"
                    (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
                }
                <app-pages-component [pages]="postPages" (onApply)="fetchSearchPosts($event)"></app-pages-component>
            }
            @else {
                @if (isPostFound) {
                    <h1 class="body">{{'browsePosts.Loading'|translate}}...</h1>
                }
                @else {
                    <h1 class="body">{{'browseBook.Book-not-found'|translate}}</h1>
                }
            }
        }
    </div>
</div>