@media (min-width: 1024px) {
    .container{
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items:start;
        gap:30px;
        min-width: calc(100dvw - 25px);
    }

    .posts-area{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    
    .create-post-button{
        background-color: var(--color-steel-blue);
        border-radius: 10px;
        padding: 5px;
        color: var(--color-soft-ice);
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .container{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:start;
        gap:30px
    }

    .posts-area{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .side-menu{
        width: 100%;
    }

    .create-post-button{
        background-color: var(--color-steel-blue);
        border-radius: 10px;
        padding: 5px;
        color: var(--color-soft-ice);
        width: 100%;
    }
}