<app-navbar></app-navbar>

<div class="container">
    <div class="post-side-menu">
        <app-sort-side-bar-component
        [isSearch]="isSearch"
        (onApply)="handleApply($event)">
        </app-sort-side-bar-component>

        <button class="create-post-button headline">Create Post</button>
    </div>

    <div class="posts-area">
        @if (!isSearch) {
            @for (post of posts; track $index) {
                <app-post-card-component 
                [post]="post"
                (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
            }
            <app-pages-component [pages]="postPages" (onApply)="fetchAllPosts($event)"></app-pages-component>
        }
        @else {
            @if (searchPost.length > 0) {
                @for (post of searchPost; track $index) {
                    <app-post-card-component 
                    [post]="post"
                    (onLikeToggled)="onPostLikeToggled($event)"></app-post-card-component>
                }
                <app-pages-component [pages]="postPages" (onApply)="fetchSearchPosts($event)"></app-pages-component>
            }
            @else {
                @if (isPostFound) {
                    <h1 class="body">{{'browsePosts.Loading'|translate}}...</h1>
                }
                @else {
                    <h1 class="body">{{'browseBook.Book-not-found'|translate}}</h1>
                }
            }
        }
    </div>
</div>