<app-navbar></app-navbar>

<div class="min-h-screen container">
    <div class="flex flex-col space-y-[10px] buttons-container">
        <button class="p-[10px] bg-steel-blue text-soft-ice headline text-center rounded-[10px] w-full" (click)="isCreateNewUser = true;">{{'user.Create-user' | translate}}</button>
        <button class="p-[10px] bg-leaf-green text-soft-ice headline text-center rounded-[10px] w-full" (click)="isCreateNewRole = true">{{'role.Create-role' | translate}}</button>
        <button class="p-[10px] bg-sky-blue text-soft-ice headline text-center rounded-[10px] w-full" (click)="isRoleListOpen = true">{{'userManagement.Role-list' | translate}}</button>
    </div>
    <div>
        @for (role of roles; track $index) {
            <div class="flex items-center space-x-[5px] py-[5px]">
                <div class="headline">{{role.name}}</div>
                @if (role.name == "ROLE_ROOT") {
                    <span class="material-symbols-outlined [font-variation-settings:'FILL'_1,'wght'_400,'GRAD'_0,'opsz'_24] text-primary-1">star</span>
                }
            </div>
            
            <div class="users-container">
                @if (getUsers(role).length > 0) {
                    @for (user of getUsers(role); track $index) {                    
                        <div (click)="handleEditUser(user)"><app-user-card [user]="user"></app-user-card></div>
                    }
                }
                @else {
                    <div>{{'list.Empty'|translate}}</div>
                }
            </div>
        }
    </div>

    @if (isCreateNewUser) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-new-user-form [roles]="roles" (onClose)="handleClose()"></app-new-user-form>
        </div>
    }
    @if (isEditUser && editUser) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-edit-user-form 
            [roles]="roles" 
            (onClose)="handleCloseEditUser()" 
            (onChange)="handleSaveEditUser($event)"
            [user]="editUser">
            </app-edit-user-form>
        </div>
    }

    @if(isCreateNewRole){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-new-role-form (onClose)="handleClose()" [features]="features"></app-new-role-form>
        </div>
    }

    @if(isEditRole && editRole){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-edit-role-form [role]="editRole" [features]="features" (onClose)="handleClose()"></app-edit-role-form>
        </div>
    }

    @if (isRoleListOpen) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-role-list-component [roles]="roles" (onClose)="handleClose()" (onChoose)="handleChooseRole($event)"></app-role-list-component>
        </div>
    }

    
    
</div>