<app-navbar></app-navbar>
@if (announcements) {
    @for (announcement of announcements; track announcement.id) {
        @if (announcement.active) {
            <app-announcement-component
                [location]="'/users-management'"
                (onClose)="handleCloseAnnouncement(announcement.id)"
                [announcement]="announcement">
            </app-announcement-component>
        }
    }
}
<div class="container">
    <div class="side-menu">
        <div class="flex flex-col space-y-[10px]">
            <app-sort-side-bar-component (onApply)="handleSearch($event)" [isSearch]="isSearch"></app-sort-side-bar-component>
            <button class="p-[5px] bg-steel-blue text-soft-ice caption-1 font-bold text-center rounded-[10px] w-full" (click)="isCreateNewUser = true;">{{'usersManagement.Create-user' | translate}}</button>
            <button class="p-[5px] bg-leaf-green text-soft-ice caption-1 font-bold text-center rounded-[10px] w-full" (click)="isCreateNewRole = true">{{'usersManagement.Create-role' | translate}}</button>
            <button class="p-[5px] bg-sky-blue text-soft-ice caption-1 font-bold text-center rounded-[10px] w-full" (click)="isRoleListOpen = true">{{'usersManagement.Role-list' | translate}}</button>
            <button class="p-[5px] border border-primary text-primary-1 caption-1 font-bold text-center rounded-[10px] w-full" (click)="isExportUser = true">{{'export.Export'|translate}}</button>
        </div>
    </div>
    @if (isLoading) {
        <div class="w-full flex items-center justify-center"><app-loading-component></app-loading-component></div>
    }
    @else {
        @if (isSearch) {
            <div class="search-area">
                <div class="headline">{{"search.Result"|translate}}</div>
                @if (result.length>0) {
                    <div class="search-list">
                        @for (user of result; track $index) {                    
                            <div (click)="handleEditUser(user)"><app-user-card [user]="user"></app-user-card></div>
                        }
                    </div>
                    <div class="flex justify-center">
                        <app-pages-component [pages]="resultPages" (onApply)="fetchResult($event)"></app-pages-component>
                    </div>
                }
                @else {
                    <div>{{"list.Empty"|translate}}</div>
                }
            </div>
        }
        @else {
            <div class="role-list">
                @for (role of roles; track $index) {
                    <div class="flex items-center space-x-[5px] py-[5px]">
                        <div class="headline">{{ role.name.replace("ROLE_", "") }}</div>
                        @if (role.name == "ROOT") {
                            <span class="material-symbols-outlined [font-variation-settings:'FILL'_1,'wght'_400,'GRAD'_0,'opsz'_24] text-primary-1">star</span>
                        }
                        @if (role.default) {
                            <div class="px-[10px] rounded-3xl bg-cool-gray text-deep-charcoal">{{"role.Default-role" | translate}}</div>
                        }
                    </div>
                    
                    <div class="users-container">
                        @if (getUsers(role).length > 0) {
                            @for (user of getUsers(role); track $index) {                    
                                <div (click)="handleEditUser(user)"><app-user-card [user]="user"></app-user-card></div>
                            }
                        }
                        @else {
                            <div>{{'list.Empty'|translate}}</div>
                        }
                    </div>
                }
            </div>
        }
    }

    @if (isCreateNewUser) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-new-user-form [roles]="roles" (onClose)="handleClose()" (onChange)="handleSaveNewUser($event)"></app-new-user-form>
        </div>
    }
    @if (isEditUser && editUser) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-edit-user-form 
            [roles]="roles" (onClose)="handleCloseEditUser()" (onChange)="handleSaveEditUser($event)" [user]="editUser" [deletable]="canDeleteUser">
            </app-edit-user-form>
        </div>
    }

    @if(isCreateNewRole){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-new-role-form (onClose)="handleClose()" (onChange)="handleSaveNewRole($event)" [features]="features"></app-new-role-form>
        </div>
    }

    @if(isEditRole && editRole){
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-edit-role-form [role]="editRole" [features]="features" (onClose)="handleClose()" (onChange)="handleSaveEditRole($event)"></app-edit-role-form>
        </div>
    }

    @if (isRoleListOpen) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-role-list-component [roles]="roles" (onClose)="handleClose()" (onChoose)="handleChooseRole($event)"></app-role-list-component>
        </div>
    }

    @if (isExportUser) {
        <div class="fixed inset-0 flex items-center justify-center z-99">
            <app-export-users-form (onClose)="handleCloseExportUser()"></app-export-users-form>
        </div>
    }

    
    
</div>