@media (min-width: 1024px) {
    .reset-password-container{
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px;
        min-width: 50dvw;
        max-width: 80dvw;
        max-height: 80dvh;
    }
}

@media (max-width: 1023px) {
    .reset-password-container{
        padding: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 10px;
        gap: 30px;
        min-width: 50dvw;
        max-width: calc(100% - 20px);
        max-height: 80dvh;
    }
}