<app-navbar></app-navbar>

<div class="container">
    <div class="side-menu"> 
        <app-sort-side-bar-component></app-sort-side-bar-component>
    </div>

    <div class="borrows-container">
        <div class="borrowing-container">
            <h1 class="headline">{{'home.Books-that-you-are-borrowing'|translate}}</h1>
            <div class="borrows-scrolling-area">
                @if (borrowing.length > 0) {
                    @for (borrow of borrowing   ; track borrow.id) {
                        <app-borrow-card-component [borrow]="borrow"></app-borrow-card-component>
                    }
                    <app-pages-component [pages]="borrowingPages" (onApply)="fetchBorrowsByUserId($event)"></app-pages-component>
                } @else {
                    <p>Loading...</p>
                }
            </div>
        </div>

        <div class="borrows-history-container">
            <h1 class="headline">{{'home.Borrows-history'|translate}}</h1>
            <div class="borrows-scrolling-area">
                @if (borrowsHistory.length > 0) {
                    @for (borrow of borrowsHistory; track borrow.id) {
                        <app-borrow-card-component [borrow]="borrow"></app-borrow-card-component>
                    }
                    <app-pages-component [pages]="borrowsHistoryPages" (onApply)="fetchBorrowsHistoryByUserId($event)"></app-pages-component>
                } @else {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </div>
</div>