<app-navbar></app-navbar>

<div class="container">
    <app-sort-side-bar-component></app-sort-side-bar-component>
    <div class="borrowed-books-area">
        <h1 class="headline">{{'home.Books-that-you-borrowed'|translate}}</h1>
        <div class="borrows-scrolling-area">
            @if (borrows.length > 0) {
                @for (borrow of borrows; track borrow.id) {
                    <app-borrow-card-component [borrow]="borrow"></app-borrow-card-component>
                }
                <app-pages-component [pages]="borrowPages" (onApply)="fetchBorrowsByUserId($event)"></app-pages-component>
            } @else {
                <p>Loading...</p>
            }
        </div>
    </div>
</div>