<div class="post-card">
    <div class="post-info-area">
        <div class="flex space-x-[5px] items-center">
            <div class="user-pfp bg-steel-blue"></div>
            <div>
                <h1 class="font-bold body">{{user}}</h1>
                <h2 class="body">{{'post.posted-at'|translate}}: {{postedAt}}</h2>
            </div>
        </div>
        <div>
            <div class="flex items-start space-x-[5px]">
                <img src='/book-covers/{{bookCover}}.jpg' alt={{bookName}} class="book-cover">
                <div>
                    <h1 class="subheader font-bold line-clamp-2">{{bookName}}</h1>
                    <h1 class="body font-bold line-clamp-1">{{'book.author'|translate}}: {{author}}</h1>
                    <h1 class="body line-clamp-1">{{'book.Genres'|translate}}: {{genres}}</h1>
                </div>
            </div>
            <div class="w-full border my-[10px] border-sky-blue"></div>
            <h2 class="subheader font-bold line-clamp-2">{{subject}}</h2>
            <p class="body line-clamp-3">{{content}}</p>
        </div>
    </div>

    <div class="flex items-center justify-evenly w-full">
        <div class="flex items-center space-x-[5px]">
            <span class="material-symbols-outlined text-sky-blue">thumb_up</span>
            <h1 class="body">{{likeCount}}</h1>
        </div>

        <div class="flex items-center space-x-[5px]">
            <span class="material-symbols-outlined text-sky-blue">comment</span>
            <h1 class="body">{{commentCount}}</h1>
        </div>
    </div>
</div>