
@if (post) {
    <div class="container">
        <div class="post-card">
            <div class="user-info-container">
                <div>
                    <div class="headline font-bold">@{{post.createdBy}}</div>
                    <div class="caption-2">{{formattedPostedAt}}</div>
                </div>
            </div>

            <div class="book-info-container">
                <div class="flex space-x-[5px] items-start">
                    <img src="{{backendUrl}}/api/book-covers/{{post.book.coverUrl}}" class="book-cover" (error)="onImageError($event)"/>
                    <div>
                        <h1 class="header font-bold">{{post.book.title}}</h1>
                        <h1 class="subheader font-bold">{{'book.Author'|translate}}: {{post.book.author}}</h1>
                        <h1 class="subheader">{{'book.Genres'|translate}}: {{post.book.genres}}</h1>
                    </div>
                </div>
            </div>
            <div class="post-subject-container">
                <h1 class="header font-bold">{{post.subject}}</h1>
            </div>
            <div class="post-content-container">
                <h1 class="body">{{post.content}}</h1>
            </div>

            <div class="post-react-container">
                <div class="flex items-center space-x-[5px] cursor-pointer" (click)="toggleLike()">
                    <span class="material-symbols-outlined text-sky-blue icon" [class.active]="post.liked">thumb_up</span>
                    <h1 class="body">{{formattedLikeCount}}</h1>
                </div>

                <div class="flex items-center space-x-[5px] cursor-pointer" (click)="toggleCommentBox()">
                    <span class="material-symbols-outlined text-sky-blue">comment</span>
                    <h1 class="body">{{formattedCommentCount}}</h1>
                </div>
            </div>

            @if (post.editable) {
            
                <button class="edit-button cursor-pointer" (click)="handleEditPost()">
                    <span class="material-symbols-outlined">edit</span>
                    <h1 class="headline">{{'post.Edit-post'|translate}}</h1>
                </button>
            
            }
        </div>
        <div class="comment-box-overlay" [class.inactive]="!isOpenComment">
            <app-comment-box-component [post]="post" (onClose)="handleCloseComment()"></app-comment-box-component>
        </div>
    </div>
    
}