.desktop-post-card{
    padding: 10px;
    background-color: var(--color-soft-ice);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.desktop-book-cover{
    width: 100px;
    border-radius: 5px;
}